/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2021 Alibaba Group Holding Limited.
 */

#include "light-a-val.dts"

&tdm_slot1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_audio_tdm>;
	status = "okay";
};

&tdm_slot2 {
	status = "okay";
};

&tdm_slot3 {
	status = "okay";
};

&tdm_slot4 {
	status = "okay";
};

&tdm_slot5 {
	status = "okay";
};

&tdm_slot6 {
	status = "okay";
};

&tdm_slot7 {
	status = "okay";
};

&tdm_slot8 {
	status = "okay";
};

&audio_i2c0 {
        clock-frequency = <100000>;
        status = "okay";

        es7210_adc2: es7210@42 {
                #sound-dai-cells = <0>;
                compatible = "MicArray_0";
                reg = <0x42>;
                work-mode = "ES7210_TDM_1LRCK_DSPB";
                channels-max = <8>;
                sound-name-prefix = "ES7210_ADC2";
                MVDD-supply = <&soc_aud_adc_3v3_en_reg>;
                AVDD-supply = <&soc_aud_adc_3v3_en_reg>;
                DVDD-supply = <&soc_dvdd18_aon_reg>;
                PVDD-supply = <&soc_dvdd18_aon_reg>;
        };

        es7210_adc3: es7210@43 {
                #sound-dai-cells = <0>;
                compatible = "MicArray_1";
                reg = <0x43>;
                work-mode = "ES7210_TDM_1LRCK_DSPB";
                channels-max = <8>;
                sound-name-prefix = "ES7210_ADC3";
                MVDD-supply = <&soc_aud_adc_3v3_en_reg>;
                AVDD-supply = <&soc_aud_adc_3v3_en_reg>;
                DVDD-supply = <&soc_dvdd18_aon_reg>;
                PVDD-supply = <&soc_dvdd18_aon_reg>;
        };
};

&lightsound {
        status = "okay";
        simple-audio-card,widgets = "Speaker", "Speaker";
        simple-audio-card,routing = 
        	"AW87519 IN", "ES8156 ROUT",
        	"Speaker", "AW87519 VO";
        simple-audio-card,aux-devs = <&audio_aw87519_pa>;
        simple-audio-card,dai-link@0 {          /* I2S - AUDIO SYS CODEC 8156*/
                reg = <0>;
                format = "i2s";
                cpu {
                        sound-dai = <&i2s0 0>;
                };
                codec {
                        sound-dai = <&es8156_audio_codec>;
                };
        };

        simple-audio-card,dai-link@1 {          /* TDM - AUDIO SYS CODEC 7210*/
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot1>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@2 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot2>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@3 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot3>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@4 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot4>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@5 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot5>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@6 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot6>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@7 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot7>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };

        simple-audio-card,dai-link@8 {
                reg = <1>;
                format = "dsp_b";
                cpu {
                        sound-dai = <&tdm_slot8>;
                };
                codec {
                        sound-dai = <&es7210_adc2>;
                };
        };
};

&i2s0 {
        status = "okay";
};
