/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2022 Alibaba Group Holding Limited.
 */

#include "light-lpi4a-ref.dts"

/ {
	model = "T-HEAD Light Lichee Pi 4A configuration for 8GB DDR board";
	compatible = "thead,light-val", "thead,light-lpi4a", "thead,light";

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x2 0x00000000>;
	};
};

&cmamem {
	alloc-ranges = <0x1 0xe4000000 0 0x14000000>; // [0x1E400_0000 ~ 0x1F800_0000]
};

&pwm {
	status = "okay";
};

&qspi0 {
	status = "okay";
};

&qspi1 {
	status = "okay";
};

&i2c3 {
	touch@14 {
		#gpio-cells = <2>;
		compatible = "goodix,gt9271";
		reg = <0x14>;
		interrupt-parent = <&ao_gpio_porta>;
		interrupts = <3 0>; 
		irq-gpios = <&ao_gpio_porta 3 0>; 
		reset-gpios = <&pcal6408ahk_d 0 0>; 
		AVDD28-supply = <&reg_tp_pwr_en>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <1280>;
		tp-size = <9271>;
		status = "okay";
	};
};

&dpu_enc0 {
       status = "okay";

       ports {
               /* output */
               port@1 {
                       reg = <1>;

                       enc0_out: endpoint {
                               remote-endpoint = <&dsi0_in>;
                       };
               };
       };
};

&dpu_enc1 {
        ports {
                /delete-node/ port@0;
        };
};

&dpu {
        status = "okay";
};

&dsi0 {
        status = "okay";
};

&dhost_0 {
       ports {
               #address-cells = <1>;
               #size-cells = <0>;

               port@0 {
                       reg = <0>;

                       dsi0_in: endpoint {
                               remote-endpoint = <&enc0_out>;
                       };
               };

               port@1 {
                       reg = <1>;

                       dsi0_out: endpoint {
                               remote-endpoint = <&panel0_in>;
                       };
               };
       };

       panel0@0 {
		compatible = "chongzhou,cz101b4001", "jadard,jd9365da-h3";
		reg = <0>;
		backlight = <&lcd0_backlight>;
		reset-gpio = <&pcal6408ahk_d 7 0>; /* active low */
		hsvcc-supply = <&soc_vdd18_lcd0_en_reg>;  
		vspn3v3-supply = <&soc_vdd33_lcd0_en_reg>;

               port {
                       panel0_in: endpoint {
                               remote-endpoint = <&dsi0_out>;
                       };
               };
       };
};

&disp1_out {
	remote-endpoint = <&hdmi_tx_in>;
};

&hdmi_tx {
	status = "okay";

	port@0 {
		/* input */
		hdmi_tx_in: endpoint {
			remote-endpoint = <&disp1_out>;
		};
	};
};
