/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2021 Alibaba Group Holding Limited.
 */

/dts-v1/;

#include "th1520-a-val.dtsi"

&dpu_enc1 {
	ports {
		/delete-node/ port@0;
	};
};

&disp1_out {
	remote-endpoint = <&hdmi_tx_in>;
};

&hdmi_tx {
	status = "okay";
};

&lightsound {
	status = "okay";

	simple-audio-card,dai-link@2 {          /* I2S - HDMI */
		reg = <2>;
		format = "i2s";
		cpu {
			sound-dai = <&light_i2s 1>;
		};
		codec {
			sound-dai = <&dummy_codec>;
		};
	};
};

&light_i2s {
        status = "okay";
};

&i2s0 {
        status = "okay";
};

&i2s_8ch_sd2 {
        status = "okay";
};

&es8156_audio_codec {
        status = "okay";
};

&es7210_audio_codec_adc0 {
        status = "okay";
};

&audio_aw87519_pa {
        status = "okay";
};
