/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2021 Alibaba Group Holding Limited.
 */

/dts-v1/;

#include "th1520-a-val.dtsi"

&i2c0 {
	touch@5d {
		compatible = "goodix,gt911";
		touchscreen-size-x = <800>;
		touchscreen-size-y = <1280>;
		status = "okay";
	};
};

&i2c1 {
	touch1@5d {
		compatible = "goodix,gt911";
		touchscreen-size-x = <800>;
		touchscreen-size-y = <1280>;
		status = "okay";
	};
};

&dpu_enc0 {
	status = "okay";
};

&dpu_enc1 {
	status = "okay";
};

&dsi0 {
        status = "okay";
};

&dsi1 {
        status = "okay";
};

&dhost_0 {
	status = "okay";

	panel0@0 {
		compatible = "txd,dy800qwxpab";
	};
};

&dhost_1 {
	status = "okay";

	panel1@0 {
		compatible = "txd,dy800qwxpab";
	};
};
