/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright (C) 2021 Alibaba Group Holding Limited.
 */

/dts-v1/;

#include "th1520-a-val.dtsi"

&i2c0 {
	touch@5d {
		compatible = "goodix,gt911";
		touchscreen-size-x = <800>;
		touchscreen-size-y = <1280>;
		status = "okay";
	};
};

&dpu_enc0 {
	status = "okay";
};

&dpu_enc1 {
        ports {
                /delete-node/ port@0;
        };
};

&disp1_out {
	remote-endpoint = <&hdmi_tx_in>;
};

&hdmi_tx {
	status = "okay";
};

&dsi0 {
        status = "okay";
};

&dhost_0 {
	status = "okay";

	panel0@0 {
		compatible = "txd,dy800qwxpab";
	};
};
